## Deliverable 2. Create a Customer Travel Destinations Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

g_key = "AIzaSyCfMZUVd3kXWzt5g-Aiif3ykZCdmqk2JT8"

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Description
0,0,Karlskrona,56.1616,15.5866,39.65,97,100,18.88,SE,overcast clouds
1,1,Kamenka,51.3223,42.7678,33.94,99,100,9.62,RU,snow
2,2,Pevek,69.7008,170.3133,-4.02,85,5,2.59,RU,clear sky
3,3,Puerto Ayora,-0.7393,-90.3518,76.55,95,100,8.01,EC,overcast clouds
4,4,Port Alfred,-33.5906,26.8910,66.18,89,50,1.01,ZA,scattered clouds

In [7]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 40
What is the maximum temperature you would like for your trip? 80

In [8]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]

In [9]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID        0
City           0
Lat            0
Lng            0
Max Temp       0
Humidity       0
Cloudiness     0
Wind Speed     0
Country        5
Description    0
dtype: int64

In [10]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

In [11]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
3,Puerto Ayora,EC,76.55,overcast clouds,-0.7393,-90.3518,
4,Port Alfred,ZA,66.18,scattered clouds,-33.5906,26.8910,
5,Ahipara,NZ,71.65,scattered clouds,-35.1667,173.1667,
6,Vaini,TO,78.96,broken clouds,-21.2000,-175.2000,
8,Rikitea,PF,77.76,overcast clouds,-23.1203,-134.9692,
9,Hermanus,ZA,56.80,clear sky,-34.4187,19.2345,
12,Cervia,IT,48.20,clear sky,44.2657,12.3427,
13,Pedasi,PA,78.06,overcast clouds,7.5333,-80.0333,
18,Namibe,AO,69.78,overcast clouds,-15.1961,12.1522,
19,Mar Del Plata,AR,55.42,clear sky,-38.0023,-57.5575,

In [12]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [13]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"] != '']
clean_hotel_df.head(20)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
3,Puerto Ayora,EC,76.55,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
4,Port Alfred,ZA,66.18,scattered clouds,-33.5906,26.8910,The Halyards Hotel
5,Ahipara,NZ,71.65,scattered clouds,-35.1667,173.1667,Ahipara Holiday Park
6,Vaini,TO,78.96,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
8,Rikitea,PF,77.76,overcast clouds,-23.1203,-134.9692,People ThankYou
9,Hermanus,ZA,56.80,clear sky,-34.4187,19.2345,Misty Waves Boutique Hotel
12,Cervia,IT,48.20,clear sky,44.2657,12.3427,Color Beach Hotel Metropolitan Milano Marittima
13,Pedasi,PA,78.06,overcast clouds,7.5333,-80.0333,Selina Pedasi
18,Namibe,AO,69.78,overcast clouds,-15.1961,12.1522,Hotel Chik Chik Namibe
19,Mar Del Plata,AR,55.42,clear sky,-38.0023,-57.5575,Gran Hotel Mar del Plata
20,Bluff,NZ,58.26,broken clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
22,Mahebourg,MU,79.25,scattered clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
26,Vestmanna,FO,40.12,broken clouds,62.1564,-7.1664,Vestmanna Camping
31,Bredasdorp,ZA,58.48,few clouds,-34.5322,20.0403,Bredasdorp Country Manor
33,Tocopilla,CL,68.18,few clouds,-22.0920,-70.1979,Hotel Galvarino
34,Port Macquarie,AU,77.90,broken clouds,-31.4333,152.9167,Rydges Port Macquarie
35,Anchorage,US,42.85,overcast clouds,61.2181,-149.9003,Hotel Captain Cook
37,Knysna,ZA,60.06,broken clouds,-34.0363,23.0471,Protea Hotel by Marriott Knysna Quays
38,Grand Gaube,MU,79.38,few clouds,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
39,Zhangjiakou,CN,53.29,clear sky,40.8100,114.8794,Shell Zhangjiakou City Qiaodong District Ginza...

In [17]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [18]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(28.0, 29.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=290, point_radius=3.5)
fig.add_layer(heat_layer)

In [19]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))